body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container {
    height: 100%;
    min-height: 210mm;
    max-width: 210mm;
    margin: 0 auto;
    padding: 0 20px;
    background-color: white;
}

h3 {
    color: #333;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 0px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.footer {
    text-align: right;
    margin-top: 20px;
    font-size: 14px;
}

.btn {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
}

.btn-print {
    margin-right: 20px;
}

.btn-container {
    background-color: #000;
    color: white;
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
}

/* Define a print-specific stylesheet */
@media print {
    body {
        background-color: white; /* Set background color for printed page */
    }

    .btn-container,
    .container,
    .footer {
        display: none; /* Hide the button container and footer in print mode */
    }

    #cetak {
        display: block; /* Hide the button container and footer in print mode */
    }
}